@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  button {
    @apply rounded-lg transition-all duration-200;
  }

  input,
  select,
  textarea {
    @apply rounded-lg;
  }

  input:focus,
  select:focus,
  textarea:focus {
    @apply outline-none ring-2 ring-sky-300;
  }
}

.subtract-width {
  width: calc(100% - 18rem);
}
